<nb-layout>

  <nb-layout-header fixed>
    <nb-actions size="small" fullWidth>
      <nb-action icon="list-outline" [routerLink]="'/employee'" [routerLinkActive]="'active'"></nb-action>
      <nb-action icon="plus-square-outline" [routerLink]="'/employee-create'" [routerLinkActive]="'active'"></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>